# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Build outputs
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log
